<div class="container">
  <div class="loader" [hidden]="!isLoading"></div>

  <div class="table-container" [ngClass]="{ 'display-none' : isLoading }">
    <div class="filter-section date-picker">
      <img src="assets/slippi-logo.png" class="slippi-main-logo">

      <div class="filter">
        <div class="filter-header">
          {{ 'Date' }}
        </div>
        <mat-form-field>
          <input matInput #startAtInput [matDatepicker]="startAtPicker" [(ngModel)]="filters.startAt" (dateChange)="applyFilter()">
          <mat-datepicker-toggle matSuffix [for]="startAtPicker"></mat-datepicker-toggle>
          <mat-datepicker #startAtPicker (opened)="highlightActiveDates()"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="filter">
        <div class="filter-header">
          {{ 'Players' }}
        </div>
        <mat-form-field>
          <input matInput #players type="text" [(ngModel)]="filters.players">
        </mat-form-field>
      </div>

    </div>

    <div class="table-wrapper">
      <mat-table #replayTable [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- DATE -->
        <ng-container matColumnDef="startAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date/Time </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.startAt | date:'short' }}
            <span class="stock-img" *ngIf="item.winningPlayer === 0">
              <img src="assets/images/LRAS.png" class="lras">
            </span>
          </mat-cell>
          
        </ng-container>

        <!-- PLAYER 1 -->
        <ng-container matColumnDef="playerOneName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Player 1 </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.playerOneName }}
            <span class="stock-img" *ngIf="item.winningPlayer === null">
              <div class="loader"></div>
            </span>
            <span class="stock-img" [ngClass]="{ 'winner': item.winningPlayer === 1 }">
              <img [src]="item.charOneImgPath">
            </span>
          </mat-cell>
        </ng-container>

        <!-- PLAYER 2 -->
        <ng-container matColumnDef="playerTwoName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Player 2 </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{ item.playerTwoName }}
            <span class="stock-img" *ngIf="item.winningPlayer === null">
              <div class="loader"></div>
            </span>
            <span class="stock-img" [ngClass]="{ 'winner': item.winningPlayer === 2 }">
              <img [src]="item.charTwoImgPath">
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="footer">
        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

</div>
